*{
	margin: 0px;
	padding: 0px;
}

.logo{
	height:65.5px;
	width: 65px;
	margin-left:20px;
}

.nav-right{
	color: black;
	margin-right: 20px;
}

.nav-right li{
	margin-right: 20px;
}

.overlay{

	height: 700px;
	width: auto;
	


}

a {
  color:white;
   margin-top: 35px;
}


.title{
	color: #e8a125;
	text-shadow: 2px 2px black;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
    position: relative;
    top: 150px;
    
}



.title-p{
	color:black;
	font-size: 25px;
	margin-top: 140px;
	font-weight:550;
	text-align:center;
	font-family:"Times New Roman", Times, serif;

}

	
.welcome{
	height:90%;
	width: auto;
	background: url(ban.jpg);
	background-repeat: no-repeat;
	background-position: center;


}



.btn {
  background-color: black;
  color:white;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  margin-left: 370px;
  margin-top: 90px;
  border-radius: 10px;

  
}

.btn:hover {
  background-color: #3E7CF5;
  color: white;
}

.main-nav li{
	margin-right: 30px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	
}



.main-nav{
	background:black;
	opacity:0.9;
	height:70px;
	
}


  
  
  .img-fluid {
  max-width: 100%;
  height: auto; }
  
  .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; 
  }
  
  .s-block {
	  border-style: double;
	   border-width: 2px;
	   border-color: black;
	   height:380px;
	   padding:5px;
  }
  
  .my-3{
	  color: #e8a125;
	  font-size:22px;
  }
  
  .my-4{
	  font-size:14px;
	  text-align:justify;
	  padding:2px;
	  
  }

.welcome2{
	height: 100%;
	width: auto;
	background: url(bannar.jpg);
	background-repeat: no-repeat;
	background-position: center;


}



.title2{
	color: black;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
    position: relative;
    top: 100px;
    
}



.title-p2{
	color:black;
	font-size: 15px;
	margin-top: 110px;
	font-weight:600;
	text-align:left;

}

.btn2 {
  background-color: black;
  color:white;
  font-size: 1.5em;
  border-radius: 10px;
  width: 300px;

  
}

.btn2:hover {
  background-color: #3E7CF5;
  color: white;
}

#customers {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#customers td, #customers th {
  border: 1px solid #000000;
  padding: 8px;

}



#customers tr:nth-child(even){background-color:#e1e7e8;}

#customers tr:nth-child(odd){background-color: #80c9cf;}



#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:#e8a125;
  color: black;
  text-align: center;
  font-size: 1.5em;
}
#customers td
{
	text-align: center;
	color: black;
	font-size: 1.3em;
	
}

.About
{
	height:100%;
	width: auto;
	background: url(bann.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.title3{
	color:#e8a125;
	text-shadow:1px 1px black ;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
    position: relative;
    top: 40px;
    
}



.title-p3{
	color:black;
	font-size: 18px;
	margin-top: 80px;
	font-weight:520;
	text-align:justify;

}


.container {
  padding: 16px;
}

.overlay3{

	height: 800px;
	width: auto;
	


}

.Contact{
	margin-top:40px;
	height:100%;
	width: auto;
	background: url(cont.jpg);
	background-repeat:no-repeat;
	background-position: center center;

}



* {box-sizing: border-box}



input[type=text], input[type=password], input[type=email]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  border-radius: 8px;
  background-color: #3E7CF5;
  color: white;
  padding: 16px 20px;
  margin:0px auto;
  border: none;
  cursor: pointer;
  width:50%;
  opacity: 0.9;
  margin-left: 300px;

}

.registerbtn:hover {
  background-color: #3E7CF5;
  color: white;
  opacity:100;
}




#Gender
{
	width:700px;
	height:auto;
	color: black;
	
}

#left
{
	float:left;
	width:200px;
	height:auto;
	
}




#left input[type=radio]
{
	display:inline-block;
}


#right
{
	float:left;
	width:200px;
	height:auto;
	
}



#right input[type=radio]
{
	display:inline-block;
}
.Regi
{
	color:#e8a125;
	text-align: center;
	font-weight: bold;
	text-shadow:1px 1px black;
}
.Regi2
{
	color: #e8a125;
	text-align: center;
	
}

.ig{
	background: url(ig.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.info{
	
	
    height:100%;
	width: auto;
	background: url(infoo.jpg);
	background-repeat: no-repeat;
	background-position: center center;

	
}
.title5{
	text-align: right;
	color: #e8a125;
	font-size:40px;
	font-weight:bold;
	text-shadow:1px 1px black;
	
	
}
.title-p5{
	color: black;
	font-size:20px;
	font-weight:50px;
	text-align: right;
}


footer
{
	background:black;
	color: white;
	margin-top: auto;
	height: 50px;
	text-align: center;

}